---
import Footer from "~/components/footer-custom.astro";

import "~/styles/index.css";

import Header from "~/components/top-header.astro";
import { Image } from "astro:assets";
interface Job {
  jobTitle: string;
  companyName: string;
  location: string;
  salary: string;
  postedDate: string;
  isUrgent: boolean;
  jobId: string;
}
import Bg from "~/assets/bg.jpeg";
const jobUrl =
  "https://www.jobthai.com/th/jobs?keyword=10X+Plus+Co.%2C+Ltd.+%28%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%A9%E0%B8%B1%E0%B8%97+%E0%B8%AA%E0%B8%B4%E0%B8%9A%E0%B9%80%E0%B8%AD%E0%B9%87%E0%B8%81%E0%B8%8B%E0%B9%8C+%E0%B8%9E%E0%B8%A5%E0%B8%B1%E0%B8%AA+%E0%B8%88%E0%B8%B3%E0%B8%81%E0%B8%B1%E0%B8%94%29";
const jobText = await fetch(jobUrl).then(async (x) => await x.text());
function extractJobsInfo(html: string) {
  try {
    const jobs: Job[] = [];
    const jobList =
      html.match(/<div[^>]*class="ant-row msklqa-8 crLDlD"[^>]*>.*?<\/a>/g) ||
      [];
    jobList.forEach((jobHtml) => {
      const jobTitle =
        jobHtml.match(
          /<h2[^>]*class="ohgq7e-0 hHthyd"[^>]*>(.*?)<\/h2>/,
        )?.[1] || "";
      const companyName =
        jobHtml.match(
          /<h2[^>]*class="ohgq7e-0 eecanG"[^>]*>(.*?)<\/h2>/,
        )?.[1] || "";
      const location =
        jobHtml.match(/<h3[^>]*id="location-text"[^>]*>(.*?)<\/h3>/)?.[1] || "";
      const salary =
        jobHtml.match(/<span[^>]*id="salary-text"[^>]*>(.*?)<\/span>/)?.[1] ||
        "";
      const postedDate =
        jobHtml.match(
          /<span[^>]*class="ohgq7e-0 msklqa-6 hbrCCy"[^>]*>(.*?)<\/span>/,
        )?.[1] || "";
      const isUrgent =
        (jobHtml.match(/<span[^>]*id="urgent-job"[^>]*>(.*?)<\/span>/)?.[1] ||
          "") != "";
      const jobId = html.match(/href="\/th\/company\/job\/(\d+)"/)?.[1] || "";
      jobs.push({
        jobTitle,
        companyName,
        location,
        salary,
        postedDate,
        isUrgent,
        jobId,
      });
    });
    return jobs;
  } catch (ex) {
    return [];
  }
}
const jobList = extractJobsInfo(jobText);
console.log(jobList);
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo_10x.png" type="image/png" />

    <title>บริษัท 10x Plus | หางานบริษัท 10x Plus </title>


    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <div class="flex h-full flex-col py-12">

    <!-- <div class=" px-8 py-32"> -->
    <div class="relative pt-[1rem]">
      <Image src={Bg} alt={""} class="w-full" />
      <h1
        class="absolute left-[50%] top-[8rem] w-[250px] -translate-x-1/2 translate-y-1/2 rounded-full bg-black px-8 py-2 text-center font-bold text-white shadow-2xl text-sm sm:top-[33rem] sm:w-fit sm:text-3xl"
      >
        สวัสดิการ 10X Plus
      </h1>
    </div>
    <div
      class="mb-8 mt-12 flex h-full w-full flex-col gap-2 bg-default px-8 sm:px-96"
    >
      <ul>
        <hr class="my-2">
        <div class="text-center font-bold text-xl">
          สวัสดิการในช่วงทดลองงาน (Probation)
        </div>
        <li class="my-2" style="font-size: 16px;">- Graduation Day (วันหยุดเพื่อเข้ารับปริญญา)</li>
      </ul>
      <ul>
        <hr class="my-2"> 
        <div class="text-center font-bold text-xl">
          สวัสดิการในช่วงผ่านทดลองงาน
        </div>
        <li class="my-2" style="font-size: 16px;">- Group Insurance (ประกันอุบัติเหตุกลุ่ม FWD + OPD + IPD)</li>
        <li class="my-2" style="font-size: 16px;">- ประกันสังคม</li>
        <li class="my-2" style="font-size: 16px;">- Thai Massage (นวดเพื่อสุขภาพ สามารถเลือกร้านนวดเองได้)</li>
        <li class="my-2" style="font-size: 16px;">- People Listen (โปรแกรมดูแลสุขภาพจิตให้พนักงาน
          โดยนักจิตบำบัดผู้มีความเชี่ยวชาญ)
        </li>
        <li class="my-2" style="font-size: 16px;">-People Always on (โปรแกรมมอบ Reward และ Feedback ตลอดการทำงาน)
        </li>
        <li class="my-2" style="font-size: 16px;">- โบนัส (พิจารณาตามผลการปฏิบัติงานและผลประกอบการของบริษัท)</li>
        <li class="my-2" style="font-size: 16px;">- การปรับเงินเดือนประจำปี ตามความสามารถและผลงานของพนักงาน</li>
        <li class="my-2" style="font-size: 16px;">- สวัสดิการกู้บ้านกับธอส.</li>
        <li class="my-2" style="font-size: 16px;">- Provident Fund (กองทุนสำรองเลี้ยงชีพ)</li>
        <li class="my-2" style="font-size: 16px;">- Vacation Leave (วันลาพักร้อน เริ่มต้นที่ 6 วันต่อปี)</li>
        <li class="my-2" style="font-size: 16px;">- ลาเพื่อปฏิบัติธรรม</li>
        <li class="my-2" style="font-size: 16px;">- ตรวจสุขภาพประจำปี</li>
        <li class="my-2" style="font-size: 16px;">- Birthday Gift (หยุดงานในวันเกิด หรือแลกรับเป็นเงินพิเศษ)</li>
      </ul>
    </div>
    <hr class="mx-8 sm:mx-96 my-12">

    <div class="flex flex-col w-full justify-center items-center">
      <h1
        class="rounded-full bg-black px-8 py-2 text-center font-bold text-white shadow-2xl text-sm sm:text-3xl"
      >
        ตำเเหน่งงานที่ 10x Plus กำลังเปิดรับสมัคร
      </h1>
    </div>
    <div class="h-full w-full bg-default px-8 sm:px-96">
      <div class="">
        <div class="mt-10 text-end">
          <a
            href={jobUrl}
            target="_blank"
            class="rounded-full bg-red-500 px-4 py-2 text-white"
          >
            หางานเพิ่มเติม
          </a>
        </div>
      </div>
      <div class="flex flex-col gap-8 pt-4 sm:gap-4">
        {
          jobList.map((x: Job) => {
            return (
              <div class="flex flex-col gap-2 rounded-xl border">
                <div class="items-center gap-4 px-8 py-4 sm:flex">
                  {x.isUrgent ? (
                    <span class="hidden rounded-full bg-red-600 px-4 py-1 text-white sm:block">
                      เร่งด่วน!
                    </span>
                  ) : (
                    ""
                  )}
                  <h2 class="font-bold" style="font-size: 24px;">
                    {x.jobTitle}
                  </h2>
                </div>
                <hr />
                <div class="px-4 py-4 sm:px-8 sm:py-6">
                  <div class="flex justify-end">
                    <span class="block rounded-full bg-red-600 px-4 py-1 text-white sm:hidden">
                      เร่งด่วน!
                    </span>
                  </div>
                  <div>บริษัท : {x.companyName}</div>
                  <div>สถานที่ : {x.location}</div>
                  <div>ประกาศเมื่อวันที่ : {x.postedDate}</div>
                  <div>เงินเดือน :{x.salary}</div>
                  <div class="mt-4 text-end sm:mt-0">
                    <a
                      href={`https://www.jobthai.com/th/company/job/${x.jobId}`}
                      target="_blank"
                      class="rounded-full bg-orange-500 px-6 py-1 text-white"
                    >
                      สมัคร
                    </a>
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>

    <Footer />
  </body>
</html>
