---
import Footer from "~/components/footer.astro";
import Header from "~/components/top-header.astro";
interface Job {
  jobTitle: string;
  companyName: string;
  location: string;
  salary: string;
  postedDate: string;
  isUrgent: boolean;
  jobId: string;
}
const jobUrl =
  "https://www.jobthai.com/th/jobs?keyword=10X+Plus+Co.%2C+Ltd.+%28%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%A9%E0%B8%B1%E0%B8%97+%E0%B8%AA%E0%B8%B4%E0%B8%9A%E0%B9%80%E0%B8%AD%E0%B9%87%E0%B8%81%E0%B8%8B%E0%B9%8C+%E0%B8%9E%E0%B8%A5%E0%B8%B1%E0%B8%AA+%E0%B8%88%E0%B8%B3%E0%B8%81%E0%B8%B1%E0%B8%94%29";
const jobText = await fetch(jobUrl).then(async (x) => await x.text());
function extractJobsInfo(html: string) {
  try {
    const jobs: Job[] = [];
    const jobList =
      html.match(/<div[^>]*class="ant-row msklqa-8 crLDlD"[^>]*>.*?<\/a>/g) ||
      [];
    jobList.forEach((jobHtml) => {
      const jobTitle =
        jobHtml.match(
          /<h2[^>]*class="ohgq7e-0 hHthyd"[^>]*>(.*?)<\/h2>/,
        )?.[1] || "";
      const companyName =
        jobHtml.match(
          /<h2[^>]*class="ohgq7e-0 eecanG"[^>]*>(.*?)<\/h2>/,
        )?.[1] || "";
      const location =
        jobHtml.match(/<h3[^>]*id="location-text"[^>]*>(.*?)<\/h3>/)?.[1] || "";
      const salary =
        jobHtml.match(/<span[^>]*id="salary-text"[^>]*>(.*?)<\/span>/)?.[1] ||
        "";
      const postedDate =
        jobHtml.match(
          /<span[^>]*class="ohgq7e-0 msklqa-6 hbrCCy"[^>]*>(.*?)<\/span>/,
        )?.[1] || "";
      const isUrgent =
        (jobHtml.match(/<span[^>]*id="urgent-job"[^>]*>(.*?)<\/span>/)?.[1] ||
          "") != "";
      const jobId = html.match(/href="\/th\/company\/job\/(\d+)"/)?.[1] || "";
      jobs.push({
        jobTitle,
        companyName,
        location,
        salary,
        postedDate,
        isUrgent,
        jobId,
      });
    });
    return jobs;
  } catch (ex) {
    return [];
  }
}
const jobList = extractJobsInfo(jobText);
console.log(jobList);
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

    <title>Astro Landing Page</title>

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="flex h-full flex-col overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header class="" />
    <div class="h-full w-full border-t px-96 pt-4">
      <div class="flex items-center justify-between">
        <h1 style="font-size: 36px;" class="font-bold">
          ตำแหน่งงาน 10xPlus ที่กำลังเปิดรับสมัคร
        </h1>
        <a
          href={jobUrl}
          target="_blank"
          class="rounded-full bg-red-500 px-4 py-2 text-white">หางานเพิ่มเติม</a
        >
      </div>
      <div class="flex flex-col gap-4 pt-4">
        {
          jobList.map((x: Job) => {
            return (
              <div class="flex flex-col gap-2 rounded-xl border">
                <div class="flex items-center gap-4 px-8 py-4">
                  {x.isUrgent ? (
                    <span class="rounded-full bg-red-600 px-4 py-1 text-white">
                      เร่งด่วน!
                    </span>
                  ) : (
                    ""
                  )}
                  <h2 class="font-bold" style="font-size: 24px;">
                    {x.jobTitle}
                  </h2>
                 
                </div>
                <hr />
                <div class="px-8 py-6">
                  <div>บริษัท : {x.companyName}</div>
                  <div>สถานที่ : {x.location}</div>
                  <div>ประกาศเมื่อวันที่ : {x.postedDate}</div>
                  <div>เงินเดือน :{x.salary}</div>
                  <div class="text-end">
                    <a
                      href={`https://www.jobthai.com/th/company/job/${x.jobId}`}
                      target="_blank"
                      class="rounded-full bg-orange-500 px-6 py-1 text-white"
                    >
                      สมัคร
                    </a>
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>

      <!-- <iframe class="h-full w-full"   src="" frameborder="0"></iframe> -->
    </div>
  </body>
</html>
